include ../header/header.pug

mixin experience({ name, items })
  section(class= name)
    +header({ name })
    ul(class=`${name}__list`)
      each item in items
        li(class=`${name}__item`)
          p(class=`${name}__item-title`)
            span(class=`${name}__item-name`)= item.name
            =` // ${item.date}`
          span(class=`${name}__item-organization`)= item.organization
          p(class=`${name}__item-text`)= item.text